<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <h1> Es par o impar?</h1>
        <h2> Maria Jose Avila Amezcua</h2>
    </body>
</html>
